/* MEDIA QUERIES */

@media (max-width: 80em) {
  /* *************************** */
  /* HEADER  */
  /* *************************** */

  .heading-primary {
    font-size: 4rem;
  }
}

@media (max-width: 70em) {
  html {
    font-size: 56.25%;
  }

  /* *************************** */
  /* REUSABLE COMPONENTS */
  /* *************************** */

  .btn,
  .btn:visited,
  .btn:link {
    padding: 1.2rem 2.4rem;
    font-size: 1.3rem;
  }

  /* *************************** */
  /* NAVIGATION  */
  /* *************************** */

  .main-nav-links {
    gap: 3.2rem;
  }

  /* *************************** */
  /* HERO SECTION PAGE 1 */
  /* *************************** */

  .hero-description {
    font-size: 1.5rem;
  }

  /* *************************** */
  /* TESTIMONIAL GALLERY SECTION PAGE 4 */
  /* *************************** */

  .testimonial-cont {
    padding: 4.8rem;
  }

  .gallery {
    padding: 1rem;
  }
}

@media (max-width: 59em) {
  /* *************************** */
  /* REUSABLE COMPONENTS */
  /* *************************** */

  .link-cont {
    font-size: 1.3rem;
  }

  /* *************************** */
  /* NAVIGATION  */
  /* *************************** */

  .main-nav-links {
    gap: 2.4rem;
  }

  /* *************************** */
  /* MOBILE NAVIGATION  */
  /* *************************** */

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.825);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.5s ease-in;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .main-nav-links {
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3.2rem;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  /* *************************** */
  /* HERO SECTION PAGE 1 */
  /* *************************** */

  .hero-cont {
    max-width: 120rem;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 4.8rem;
  }

  .hero-description {
    font-size: 1.8rem;
  }

  .delivered-meals {
    text-align: center;
    justify-content: center;
  }

  /* *************************** */
  /* MEALS SECTION PAGE 3 */
  /* *************************** */

  .section-meals > div:nth-child(2) {
    grid-template-columns: 1fr 1fr;
  }

  .diet {
    grid-column: 1/-1;
    justify-self: center;
  }

  /* *************************** */
  /* TESTIMONIAL GALLERY SECTION PAGE 4 */
  /* *************************** */

  .section-testimonial-gallery {
    grid-template-columns: 1fr;
  }

  /* *************************** */
  /* PRICING SECTION PAGE 5 */
  /* *************************** */

  .form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 50%;
  }

  /* *************************** */
  /* REUSABLE COMPONENTS */
  /* *************************** */

  .link-cont {
    gap: 1.5rem;
  }
  /* *************************** */
  /* FEATURED IN SECTION  */
  /* *************************** */

  .logos img {
    height: 2.4rem;
  }

  /* *************************** */
  /* MEALS SECTION PAGE 3 */
  /* *************************** */

  .section-meals > div:nth-child(2) {
    grid-template-columns: repeat(2, 1fr);
  }

  /* *************************** */
  /* TESTIMONIAL GALLERY SECTION PAGE 4 */
  /* *************************** */

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  /* *************************** */
  /* PRICING SECTION PAGE 5 */
  /* *************************** */

  .pricing-plan {
    width: 100%;
  }

  .features {
    grid-template-columns: repeat(2, 1fr);
  }

  /* *************************** */
  /* FOOTER */
  /* *************************** */

  .footer-grid-col {
    grid-template-columns: repeat(6, 1fr);
  }

  .footer-nav {
    grid-row: 1;
    grid-column: span 2;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }
}

@media (max-width: 32em) {
  /* *************************** */
  /* REUSABLE COMPONENTS */
  /* *************************** */

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols,
  .grid--5-cols {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:visited,
  .btn:link {
    padding: 1.5rem 3rem;
  }

  /* *************************** */
  /* HERO SECTION PAGE 1 */
  /* *************************** */

  .hero-cont {
    padding: 0 2.4rem;
  }

  .hero-description {
    font-size: 2.3rem;
    line-height: 1.4;
  }

  /* *************************** */
  /* HOW OT WORKS SECTION PAGE 2 */
  /* *************************** */

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  /* *************************** */
  /* FEATURED IN SECTION  */
  /* *************************** */

  .logos img {
    height: 1.7rem;
  }

  /* *************************** */
  /* MEALS SECTION PAGE 3 */
  /* *************************** */

  .section-meals > div:nth-child(2) {
    grid-template-columns: 1fr;
  }

  /* *************************** */
  /* TESTIMONIAL GALLERY SECTION PAGE 4 */
  /* *************************** */

  .gallery {
    grid-template-columns: repeat(4,1fr);
  }

  /* *************************** */
  /* PRICING SECTION PAGE 5 */
  /* *************************** */

  .section-pricing > div:nth-child(2) {
    gap: 4.8rem;
  }

  .features {
    gap: 4.8rem;
  }

  /* *************************** */
  /* FORM SECTION PAGE 6 */
  /* *************************** */

  .form-cont {
    grid-template-columns: 1fr;
  }

  .form-img-part {
    height: 56rem;
    grid-row: 1;
  }

  .form-text-part {
    padding: 3.2rem;
  }
}
